.mainRedColor {
  color: var(--main-red-color);
}

.alignRight {
  text-align: right;
}

.mainBlackColor {
  color: var(--main-black-color);
}

.alignLeft {
  text-align: left;
}

.headerButton {
  font-size: 1.8rem;
  font-family: "Bungee", sans-serif;
  width: 24%;
  padding: 16px;

  cursor: pointer;

  background: unset;
  border: unset;
  outline: unset;
}

.headerButton.mainRedColor:active {
  text-shadow: 1px 1px 2px var(--main-red-color);
}
.headerButton.mainBlackColor:active {
  text-shadow: 1px 1px 2px var(--main-black-color);
}
